<%= form_with(model: [ @product, @product.sightings.build ], local: true) do |form| %>

  <p>
  <%= form.select :product_id, Product.all.collect { |p| [ p.item_name, p.item_name ] } %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>