<div class="jumbotron jumbotron-fluid mt-5">
  <div class="container">
    <h1 class="display-4 text-center">Kwanele's Antique Store POS System</h1>
    <p class="lead text-center">What Would You Like To Do? Select Option Below</p>
    <div style="text-align: center">
    <%= link_to 'Manage Inventory', products_path, class: 'btn btn-lg btn-dark'%> | <%= link_to 'Make A Purchase', purchases_path, class: 'btn btn-lg btn-dark'%> 
    </div>
  </div>
</div>