= form_with model: @product, local: true do |form|
  - if @product.errors.any?
    #error_explanation
      h2
        = pluralize(@product.errors.count, "error")
        |  prohibited this article from being saved: 
      ul
        - @product.errors.full_messages.each do |msg|
          li
            = msg
  p
    = form.label :item_name
    br
    = form.text_field :item_name, class: 'form-control col-md-6'
  p
    = form.label :price
    br
    = form.number_field :price, class: 'form-control col-md-6'
  p
    = form.label :description
    br
    = form.text_area :description, class: 'form-control col-md-6'
  p
    = form.label :is_in_stock
    = form.check_box(:is_in_stock, {}, :is_in_stock)
  p
    = form.number_field :user_id, id: :product_user_id, class: 'form-control', value: current_user.id, type: :hidden
  p
    = form.submit class: 'btn btn-success'
    |  | 
    = link_to 'Back', products_path, class: 'btn btn-info'